* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  background: rgb(105, 80, 59);
  width: 100vw;
  height: 125px;
  margin: 0px;
  padding: 0px;
}

.logo {
  margin: 12.5px;
  height: 100px;
  width: 100px;
}

.floating-image {
  position: relative;
  display: inline-block;
  animation:
    floatY 7s ease-in-out infinite,
    floatX 9s ease-in-out infinite,
    rotate 11s ease-in-out infinite;
}


@keyframes floatY {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes floatX {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(15px); }
}

@keyframes rotate {
  0%, 100% { rotate: -3deg; }
  50% { rotate: 3deg; }
}

.pet-button {
  position: absolute;

  top: 20%;
  left: 30%;
  width: 40%;
  height: 20%;

  background: transparent;
  border: none;
  cursor: pointer;
}

/*heart particles*/

.particle {
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none; 
  opacity: 1;
  transform: translate(0, 0);
  animation: flyUpFade 1s forwards;
}

@keyframes flyUpFade {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x, 0px), -40px) scale(1);
    opacity: 0;
  }
}

/* debugging helper */
/* .pet-button:hover {
  outline: 2px dashed rgba(255, 0, 0, 0.6);
} */